bin*
*.tar
nri-flex-v*
nri-flex_v*
*.old
vendor*
nri-flex-mac
coverage*
.DS_Store
examples_*
CHANGELOG_*
cmd/flex/flex*
cmd/nri-flex/flex*
dump*
*.serverless
LATEST
.vendor-new*
.idea
dist
.vscode
.envrc

envvars
flexConfigs/
results
pkg/
testing