version: "3"
services:
  golang:
    image: golang:1.11.4-stretch
    volumes:
      - .:/go/src/nri-flex
    working_dir: /go/src/nri-flex
    depends_on:
      - postgres-db
    links:
      - postgres-db
  postgres-db:
    image: postgres:11.2
    restart: always
    environment:
      POSTGRES_PASSWORD: flex
    ports:
     - "5432:5432"