version: "3"
services:
  golang:
    image: golang:1.24-bullseye
    volumes:
      - .:/go/src/github.com/newrelic/nri-flex
    working_dir: /go/src/github.com/newrelic/nri-flex
    depends_on:
      - postgres-db
    links:
      - postgres-db
  postgres-db:
    image: postgres:17.6
    restart: always
    environment:
      POSTGRES_PASSWORD: flex
    ports:
     - "5432:5432"
