contentType:%{content_type}\n
httpResponseCode:%{http_code}\n
httpConnect:%{http_connect}\n
httpVersion:%{http_version}\n
localIp:%{local_ip}\n
localPort:%{local_port}\n
numConnects:%{num_connects}\n
numRedirects:%{num_redirects}\n
proxySslVerifyResult:%{proxy_ssl_verify_result}\n
redirectUrl:%{redirect_url}\n
remoteIp:%{remote_ip}\n
remotePort:%{remote_port}\n
scheme:%{scheme}\n
sizeDownloadBytes:%{size_download}\n
sizeHeaderBytes:%{size_header}\n
sizeRequestBytes:%{size_request}\n
sizeUploadBytes:%{size_upload}\n
downloadBytesPerSecond:%{speed_download}\n
uploadBytesPerSecond:%{speed_upload}\n
sslVerifyResult:%{ssl_verify_result}\n
timeAppConnectSeconds:%{time_appconnect}\n
timeConnectSeconds:%{time_connect}\n
timeNameLookupSeconds:%{time_namelookup}\n
timePretransferSeconds:%{time_pretransfer}\n
timeRedirectSeconds:%{time_redirect}\n
timeStartTransferSeconds:%{time_starttransfer}\n
timeTotalSeconds:%{time_total}\n
urlEffective:%{url_effective}\n